[submodule "themes/themes/hello-friend-ng"]
	path = themes/themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "public"]
	path = public
	url = git@github.com:keltoy/keltoy.github.io.git
	branch = master
